* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  

*::before,
*::after {
  box-sizing: inherit;
}

li,
ol {
  list-style: none;
  
}
.nav-list {
  float: right;
}
.nav-list li {
  float: left;
  list-style: none;
  margin-right: 40px;
  padding-top: 30px;
}

.nav-list li:last-child {
  margin-right: 0px;
}
.nav-link {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #0f0101;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}
/*.container {
  float: right;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: black;
  font-size: 14px;
  text-transform: uppercase;
}*/
.nav-item {
  vertical-align: middle;
  text-transform: uppercase;
}
.logo {
  float: left;
  margin-bottom: 10px;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  color: #555252;
}
.logo-link {
  text-decoration: none;
  color: #555252;
}
.logo::first-letter {
  color: #1abc9c;
  font-weight: bold;
}
.nav-link:hover {
  color: #1abc9c;
}
.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.head {
  text-transform: uppercase;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 900;
  color: #515151;
}
.head::after {
  display: block;
  margin: 0 auto;
  content: "";
  width: 160px;
  height: 5px;
  background-color: #1abc9c;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  margin-top: 35px;
}
.cards {
  padding-bottom: 30px;
  
}
.card-list {
  margin: 0 -15px;
  overflow: hidden;
  
}
.card {
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 255px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 18px;
  color: #fff;
}
.card-list .card:nth-child(4n + 4) {
  margin-right: 0;
}
.card:hover .card-footer {
  background: #1abc9c;
}
.card-img {
  background: #e9f0fd;
  position: relative;
}
.card img img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-footer {
  background: #323232;
  color: #fff;
  line-height: 40px;
}
.card-name {
  float: left;
  text-transform: uppercase;
  margin-left: 15px;
  margin-right: auto;
}
.card-name-link {
  color: #fff;
  text-decoration: none;
}
.card-price {
  float: right;
  font-family: "Roboto", sans-serif;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  font-weight: 900;
  text-align: center;
}
.img {
  height: auto;
  max-width: 100%;
  display: block;
}

.card-item:hover .card-footer {
  background: #1abc9c;
}

.block {
  font-family: "Open Sans", sans-serif;
  color: #555252;
  float: left;
  width: 33.3333%;
  padding: 0 15px;
  margin-bottom: 80px;
  display: block;
  font-weight: 400;
  text-align: justify;
}
.block-title {
  font-size: 18px;
  font-weight: 600;
  color: #555252;
  height: 60px;
  margin-top: 20px;
  vertical-align: bottom;
  text-decoration: none;
}


.block-title::after {
  content: "";
  background-color: #1abc9c ;
  display: block;
  height: 7px;
  width:165px ;
  margin-left: 0;
  margin-right: auto;
  margin-top: 10px;
}
.block-img {
  margin-bottom: 20px;
}
/*.btn {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  background-color: #4ec6ab;
  height: 50px;
  width: 160px;
  margin-top: 20px;
  margin-left: 0;
  margin-right: auto;
  text-align: center;
}*/
.btn-link {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  color: #ffff;background: #4ec6ab;
  line-height: 50px;
  font-weight: 300;
  height: 50px;
  width: 160px;
  margin-right: auto;
  margin-top: 20px;
  margin-left: 0;
  text-align: center;  
}
.block-title-link {
  text-decoration: none;
  color: inherit;
}
