.banner {
    @include center-flex('all');
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1000px;
    
    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .banner {
           background-image: url(../img/banner@2x.jpg);
           background-repeat: no-repeat;
           background-size: cover;
           background-position: center;
       }
       
   }
    
}
.banner::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1000px;
    background: linear-gradient(
    0deg,
    rgba(252, 227, 138, 0.7) 0%,
    rgba(243, 129, 129, 8) 100%
  );
    z-index: 0;
}
.banner * {
    position: relative;
    z-index: 1;
}