
 /*Fonts*/
$main-font-stack: 'Montserrat';
$secondary-font-stack: 'Roboto';
$additional-font-stack: 'Kaushan Script';


/*Color*/

$primary-white-color:#ffffff;

$primary-dark-color:#333333;

$primary-gray-color:#999999;

$primary-bg-color:#f38181;
$secondary-bg-stack:#95e1d3;
$additional-bg-stack:#fce38a;



$primary-accent-color:#fce38a;
$secondary-accent-color:#f38181;
