html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
#wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.container {
  width: 1200px;
  margin: 0 auto;
  /*background-color: lightcoral;*/
}

#nav-menu {
  display: flex;
  justify-content: space-between;
  height: 65px;
  align-items: center;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  list-style: none;
}
.nav-item {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.nav-link:hover:after {
  position: absolute;
  display: block;
  margin: 0 auto;
  content: "";
  left: 0;
  right: 0;
  height: 3px;
  background-color: #f38181;
  margin-top: 12px;
  transition: all 200ms linear;
}
.nav-link {
  position: relative;
  text-decoration: none;
  line-height: 17px;
  font-weight: 400;
  color: #95e1d3;
  transition: color 200ms linear;
}
.nav-link:hover,
.nav-link:focus {
  color: #f38181;
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}
.logo-link {
  text-decoration: none;
  color: #95e1d3;
}
.head-service {
  text-align: center;
}

.head {
  padding-top: 115px;
  padding-bottom: 25px;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #333333;
}


.head-name {
  display: block;
  margin-top: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
}
.head-name::after {
  display: block;
  content: "";
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 0 auto;
  margin-top: 44px;
  margin-bottom: 66px;
}
.service-list {
  /* background-color: bisque;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.service-list-item {
  position: relative;
  display: inline-block;
  width: 380px;
  /*margin-right: 20px;*/
  padding-left: 80px;
  padding-right: 50px;
  margin-bottom: 90px;
  /*background-color: aliceblue;*/
}
.service-list-item::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 20px;
  top: 20px;
}
.icon-1::before {
  background-image: url(../img/icon-1.png);
}
.icon-2::before {
  background-image: url(../img/icon-2.png);
}
.icon-3::before {
  background-image: url(../img/icon-3.png);
}
.icon-4::before {
  background-image: url(../img/icon-4.png);
}
.icon-5::before {
  background-image: url(../img/icon-5.png);
}
.icon-6::before {
  background-image: url(../img/icon-6.png);
}

.service-list-item:nth-child(3n) {
  margin-right: 0;
}
.service-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.service-list-item h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.service-list-item p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  width: 290px;
}
.team {
  margin-bottom: 80px;
}
.head-team {
  text-align: center;
}
.team-info {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  color: #999999;
  margin-bottom: 95px;
  padding: 0 130px;
}
.team-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-size: 0;
}
.team-list-item {
  position: relative;
  width: 380px;
}
.team-list-img {
  position: relative;
  margin-bottom: 30px;
  transition: all 200ms linear;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  background: linear-gradient(
    0deg,
    rgba(252, 227, 138, 0.7) 0%,
    rgba(243, 129, 129, 8) 100%
  );
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-icon {
  height: 56px;
  width: 56px;
  margin-right: 2px;
  background-color: #fce38a;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 200ms linear;
  transition-delay: 0.3s;
}

.soc-icon-1 {
  background-image: url(../img/soc-icon/soc-icon-1.png);
}
.soc-icon-2 {
  background-image: url(../img/soc-icon/soc-icon-2.png);
}
.soc-icon-3 {
  background-image: url(../img/soc-icon/soc-icon-3.png);
}
.soc-icon-4 {
  background-image: url(../img/soc-icon/soc-icon-4.png);
}
.overlay-icon:hover {
  background-color: #95e1d3;
}
.team-list-item:hover .overlay {
  z-index: 1;
}

.team-list-img:hover {
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px 0px 0px #95e1d3;
}

.team-list-name {
  margin: 0;
  padding: 0;
  text-align: center;
}
.list-name {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
}
.profession {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  color: #999999;
}
.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e5e5e5;
}
.container-avtor {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 60px;
  font-weight: 400;
  color: #333333;
}

.word {
  text-decoration: none;
  color: #f38181;
}
.btn {
  display: flex;
  height: 40px;
  width: 380px;
}
.btn input[type="email"] {
  padding: 10px;
}
.email {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: lighter;
  font-style: italic;
  color: #333333;
  width: 230px;
  height: 40px;
  outline: none;
}
.subscribe {
  background-color: #95e1d3;
  width: 150px;
  height: 40px;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  
}
