html {
    box-sizing: border-box;
}
*:before
*:after{
    box-sizing: inherit;
}
#wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}
.row {
    margin: 0 -15px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: flex-end;*/
    align-content: flex-start;
    flex-direction: row;
}

.item { 
    width: 33.333%;
    padding: 0 15px;

}
.item:nth-child(1) {
    background: #0000;
    color: #ffffff;

    flex-grow: 2;
}
.item:nth-child(2) {
    background: yellow;
    flex-grow: 1;
}
.item:nth-child(3) {
    background: red;
    order: 1;
}
.item:nth-child(4) {
    background: blue;
    order: 2;
}
.item:nth-child(5) {
    background: green;
    order: 3;
}